<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login to Weather Forecast</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <style>
    body{background-color: #ccc;}  .card{border: none;height: 320px}  .forms-inputs{position: relative}  .forms-inputs span{position: absolute;top:-18px;left: 10px;background-color: #fff;padding: 5px 10px;font-size: 15px}  .forms-inputs input{height: 50px;border: 2px solid #eee;width: 100%;}  .forms-inputs input:focus{box-shadow: none;outline: none;border: 2px solid #000}  .btn{height: 50px}  .success-data{display: flex;flex-direction: column}  .bxs-badge-check{font-size: 90px}
  </style>
</head>
<body>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data" v-if="!submitted">
                    <form th:action="@{/login}" method="post" th:if="!${param.logout}">
                        <div class="forms-inputs mb-4"> <span>Email or username</span>
                            <input name="username" autocomplete="off" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true">
                            <div class="invalid-feedback">Username must be at least 4 character!</div>
                        </div>
                        <div class="forms-inputs mb-4"> <span>Password</span>
                            <input name="password" autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                            <div class="invalid-feedback">Password must be at least 4 character!</div>
                        </div>
                        <div class="mb-3"> <button class="btn btn-dark w-100">Login</button> </div>
                    </form>
                </div>
                <div th:if="${param.logout}" class="success-data">
                    <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <span class="text-center fs-1">You have been logged out <br> Successfully <br/> <a href="http://localhost:8080/" >LOGIN</a></span> </div>
                </div>
                <div th:if="${param.error}" class="success-data">
                    <div class="text-center d-flex flex-column"> <i class='bx bxs-error-circle'></i> <span class="text-center fs-1">Invalid username and password</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  var app = new Vue({
    el: '#form1',
    data: function () {
      return {
        email : "",
        emailBlured : false,
        valid : false,
        submitted : false,
        password:"",
        passwordBlured:false
      }
    },

    methods:{

      validate : function(){
        this.emailBlured = true;
        this.passwordBlured = true;
        if( this.validEmail(this.email) && this.validPassword(this.password)){
          this.valid = true;
        }
      },

      validEmail : function(email) {
        if (email.length > 3) {
          return true;
        }

      },

      validPassword : function(password) {
        if (password.length > 3) {
          return true;
        }
      }
    }
  });
</script>
</body>
</html>